<button class="btn btn-sm btn-danger bt_excluir_produto" form="usuario-delete">Delete</button>
<form method="post" id="usuario-delete" action="{{ path('usuario_delete', {'id': usuario.id}) }}" onsubmit="return confirm('Tem certeza de que deseja excluir este usuário?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
</form>