{% extends 'base.html.twig' %}

{% block title %}Edit Usuario{% endblock %}

{% block body %}
    <h1>Edit Usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}