
    <main class="container mt-5">
        {% form_theme form with 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Salvar">
        {{ form_end(form) }}
    </main>

