{% extends 'base.html.twig' %}

{% block title %}Editar Funcionário - {% endblock %}

{% block body %}
    <h1>Editar Funcionário</h1>

    {{ include('funcionario/_form.html.twig') }}

{% endblock %}