{% extends 'base.html.twig' %}

{% block title %}Funcionários - {% endblock %}

{% block body %}
    <h1>Editar {{ funcionario.logadouro }}</h1>

    {{ include('funcionario/_form.html.twig') }}

{% endblock %}