
<button type="submit" class="btn btn-sm btn-danger bt_excluir_produto" form="secretaria-delete">Delete</button>

<form method="post" id="secretaria-delete" action="{{ path('secretaria_delete', {'id': secretarium.id}) }}" onsubmit="return confirm('Tem certeza de que deseja excluir esta secretaria?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secretarium.id) }}">
</form>