{% extends 'base.html.twig' %}

{% block title %}Editar Secretaria - {% endblock %}

{% block body %}
    <h1>Editar Secretaria</h1>

    {{ include('secretaria/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}