{% extends 'base.html.twig' %}

{% block title %}New Secretaria{% endblock %}

{% block body %}
    <h1>Create new Secretaria</h1>

    {{ include('secretaria/_form.html.twig') }}

    <a href="{{ path('secretaria_index') }}">back to list</a>
{% endblock %}