<style>
    #titulo {
        text-align: center;

    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #5a6268;
        color: white;
    }
</style>

<h1 id="titulo">Relatório de Secretarias</h1>

<table id="customers">

    <thead>
    <tr>
        <th>Total de Salário</th>
        <th>Secretaria</th>
    </tr>
    </thead>
    <tbody>
    {% for totalSalario in totalSalarios %}
        <tr>
            <td> R$ {{ totalSalario.total|number_format(2, ',', '.') }}</td>
            <td>{{ totalSalario.nome }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="18">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

